<% include common/header.ejs %>

<!-- /.container -->
<div class="container main_article">
    <div class="row">
        <div class="col-md-8 col-sm-12">
            <!-- 媒体对象列表 -->
            <ul class="media-list">
                <% for(var i = 0;i < articles.length;i++){ %>
                <li class="media">
                    <div class="media-left">
                        <a href="#">
                            <img class="media-object" src="/img/02.jpeg" alt="...">
                        </a>
                    </div>
                    <div class="media-body">
                        <a href="/article/<%= articles[i].id %>">
                            <h3 class="media-heading  media-heading"><%= articles[i].title %></h3>
                            <h5 class="main_date">·&nbsp;&nbsp;<%= articles[i].updateTime %></h5>
                            <p class="letterspacing"> <%= articles[i].description %></p>
                        </a>
                    </div>
                    <hr class="split">
                    <div>
                        <div class="col-md-9 tags">
                            <% for(var j = 0;j < articles[i].tags.length;j++){ %>
                            <a href="#">
                                <i class="fa fa-tags" aria-hidden="true">&nbsp;</i><%= articles[i].tags[j] %></a>&nbsp;
                            <% } %>
                        </div>
                        <div class="col-md-3">
                            <p class="btn pull-right  btn_content_style" href="#" role="button">阅读全文 &gt;</p>
                        </div>
                    </div>

                </li>
                <% } %>
            </ul>
            <!-- 分页的实现 -->

            <div class="paging">
                <nav aria-label="Page navigation">
                    <ul class="pagination">
                        <li>
                            <a href="#" aria-label="Previous">
                                <span aria-hidden="true">&laquo;</span>
                            </a>
                        </li>
                        <li><a href="#">1</a></li>
                        <li><a href="#">2</a></li>
                        <li><a href="#">3</a></li>
                        <li><a href="#">4</a></li>
                        <li><a href="#">5</a></li>
                        <li>
                            <a href="#" aria-label="Next">
                                <span aria-hidden="true">&raquo;</span>
                            </a>
                        </li>
                    </ul>
                </nav>
            </div>
        </div>
        <!-- col-md-8 -->
      <% include common/sidebar.ejs%>
    </div>
    <!-- row-->
</div>
<!--container-->
<% include common/footer.ejs %>